[submodule "modules/apriltags"]
	path = modules/apriltags
	url = https://github.com/futlab/apriltags-cpp.git
[submodule "modules/dso"]
	path = modules/dso
	url = https://github.com/futlab/dso.git
[submodule "modules/witrack"]
	path = modules/witrack
	url = https://github.com/futlab/witrack
